header {
  background-color: #1c0c5b;
  width: 100%;
  margin-left: -8px;
  top: 0;
  z-index: 10;
  padding: 16px 32px;
  height: 70px;
  border-bottom-left-radius: 70px;
  box-shadow: 0 2px 4px grey;
  position: fixed;
}
h1 {
  color: aliceblue;
  font-size: 1.875rem;
  font-family: "Pacifico", cursive;
}
